* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	line-height: 30px;
	font-family: monospace;
	direction: rtl;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
}
#container {
    width: 1000px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#InformationPart {
    width: 1000px;
    height: 350px;
}
#ProfileImage {
    text-align: center;
    width: 200px;
    float: right;
}
#ProfileImage img {
    height: 200px;
    border-radius: 7px;
}
#ProfileInformation {
    padding-top: 15px;
    padding-right: 10px;
    line-height: 35px;
    width: 800px;
    float: right;
    font-size: 18px;
}
#Satr {
    display: inline-block;
    width: 300px;
    height: 50px;
    border: 0px;
    cursor: pointer;
    margin-top: 25px;
    text-align: center;
    background-color: #FFFFFF;
}
#Satr img {
    float: right;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 2px solid #737373;
    border-bottom: 2px solid #737373;
    border-top: 2px solid #737373;
    border-radius: 0px 5px 5px 0px;
}
#Satr span {
    float: left;
    width: 250px;
    height: 50px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #737373;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: 14px;
    padding: 10px;
}

#ProgrammingLanguagePart {
    max-width: 1000px;
    margin-top: 50px;
}

#programmingLanguage, #webFramework, #DesktopFramework, #webLanguage, #passingData {
    width: 100%;
}
#programmingLanguage h1, #webFramework h1, #DesktopFramework h1, #webLanguage h1, #passingData h1 {
    width: 100%;
    min-height: 40px;
    margin-bottom: 20px;
}
#programmingLanguage ul, #webFramework ul, #DesktopFramework ul, #webLanguage ul, #passingData ul {
    float: right;
    width: 100%;
    margin-bottom: 25px;
}
.pointer {
    cursor: pointer;
}
.cardList {
    display: inline-block;
    width: 300px;
    height: 50px;
    list-style: none;
    margin-left: 10px;
    margin-bottom: 25px;
    text-align: center;
}
.cardList img {
    float: right;
    width: 50px;
    height: 50px;
    padding: 5px;
    border-right: 2px solid #3D3D3D;
    border-bottom: 2px solid #3D3D3D;
    border-top: 2px solid #3D3D3D;
    border-radius: 0px 5px 5px 0px;
}
.cardList button {
    float: left;
    width: 250px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #3D3D3D;
    border: 0px;
    border-radius: 5px 0px 0px 5px;
    font-size: x-large;
    letter-spacing: 2px;
}